@import '~nav-frontend-core/less/core';

body {
    background-color: @navLysGra;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    box-sizing: border-box;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0 4rem;
    align-self: flex-start;
}

.section-panel {
    margin-bottom: 5rem;
    max-width: 690px;
    position: relative;

    &__withIcon {
        padding: 1rem 3rem 2rem 3rem !important;
    }

    &__noIcon {
        padding: 3rem 3rem 2rem 3rem !important;
    }
}

.section-article {
    &__wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__article-box {
        margin-top: 2rem;
        width: 290px;
    }

    &__icon {
        width: 50px;
        margin-right: 1rem;
        align-self: start;
    }
}

.banner {
    background-color: #9bd0b0;
    border-bottom: 4px solid #38a161;
    width: 100%;
    display: flex;
    justify-content: center;

    &__frontpage {
        height: 190px;
        justify-content: flex-start;
        margin-bottom: 4rem;
    }

    &__article {
        height: 70px;
        justify-content: center;
    }
}

.banner-content {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .banner-content-icon {
        align-self: flex-end;
    }
}

.sidebar {
    margin-top: 118px;
    margin-right: 2rem;

    .divider {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border: 1px solid #e7e9e9;
    }
}

.sidebar-panel {
    position: sticky;
    width: 280px;
}

.sidebar-link {
    &__link {
        margin-top: 1rem !important;
        letter-spacing: 0.2px;
        white-space: pre-wrap;
    }
    &__current {
        color: black;
        font-weight: bold;
        letter-spacing: normal;
    }
}

.lenke {
    img + span:not(.sr-only),
    span:not(.sr-only) + img {
        margin-left: 0.25em;
    }
}

.panel-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    transform: translateY(-70%);
    margin-bottom: -2rem;

    img {
        width: 3rem;
        height: 3rem;
    }
}

.panel-icon__image {
    display: flex;
    flex: 1;
    background-color: #9bd0b0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 5rem;
    max-width: 5rem;
    min-width: 5rem;
}

.group-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1024px;
}
