@import '~nav-frontend-knapper-style';

.section-panel {
    margin-bottom: 2rem;
    position: relative;

    &__frontpage {
        max-width: 58.25rem;
        padding: 2rem 2rem 1rem 2rem !important;
    }

    &__article {
        max-width: 39.125rem;
    }

    &__loading {
        width: 100%;
    }

    @media screen and (min-width: 376px) {
        &__withIcon {
            padding: 1rem 2rem 2rem 2rem !important;
        }

        &__noIcon {
            padding: 2rem 2rem 2rem 2rem !important;
        }
    }

    @media screen and (max-width: 470px) {
        &__image {
            display: none;
        }
    }

    &__withIcon {
        margin-top: 0rem;
    }

    &__image {
        background-color: #9bd0b0;
        border-radius: 50%;
        overflow: hidden;

        height: 6rem;
        width: 6rem;
        min-width: 6rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    &__icon {
        min-width: 6rem;
        width: 6rem;
        height: 6rem;
        align-self: center;
    }

    .typo-normal {
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }

    .typo-ingress {
        margin-block-start: 1rem;
        margin-block-end: 1rem;
    }

    .typo-innholdstittel {
        margin-block-end: 1rem;
    }

    .typo-undertittel {
        margin-block-start: 1rem;
    }
}
